<div class="container">
  <h1>Score</h1>
  <p>Start time: <%= @start_time%></p>
  <p>End time: <%= @end_time%></p>
  <p>Word: <%= @word%></p>
  <p>Score: <%= @result[:score]%></p>
  <p>Message: <%= @result[:message]%> </p>
</div>
